body {
    margin: 0;
}
header {
    background: #FD9D4E;
    width: 100%;
    height: 6.5vh;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
}
.titre {
	float: right;
	position: relative;
	top: 3.25vh;
	right: 20px;
    user-select: none;
    color: white;
    border-bottom: 1vmin solid white;
    font-family: 'Arial Black', Gadget, fantasy;
    display: block;
    text-align: center;
    font-size: min(4vh, 6vmin);
    width: max-content;
	padding: 0 15px;
	transform: translateY(-100%);
}
.titre[data-portrait="no"]{
    border-bottom: 1vmin solid white;
    font-family: 'Arial Black', Gadget, fantasy;
}
nav {
	position: fixed;
	top: max(6vh, 5vmax);
	z-index: 1000000000;
}
.container{
	position: relative;
	text-align: center;
}
.clr{
	clear: both;
}
.container > header{
top: 10%;
	position: fixed;
	display: block;
}
.container > header h1{
  font-family: 'Century Gothic', sans-serif;
	font-size: 3rem;
	position: relative;
	color: #f64747;
}


.slideshow,
.slideshow:after{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -2;
}

.slideshow li span{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: -2;
	-webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 24s ease-in-out infinite 0s;
    -moz-animation: imageAnimation 24s ease-in-out infinite 0s;
    -o-animation: imageAnimation 24s ease-in-out infinite 0s;
    -ms-animation: imageAnimation 24s ease-in-out infinite 0s;
    animation: imageAnimation 24s ease-in-out infinite 0s;
}
.slideshow li:nth-child(1) span{  
    background-image: url('http://www.public-domain-image.com/free-images/fauna-animals/fishes/bass-fishes-pictures/largemouth-bass-fish-art-work-micropterus-salmoides.jpg') 
}
.slideshow li:nth-child(2) span{
    background-image: url('http://www.public-domain-image.com/free-images/fauna-animals/fishes/bass-fishes-pictures/detailed-underwater-photo-of-smallmouth-bass-fish-micropterus-dolomieu.jpg');
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
}
.slideshow li:nth-child(3) span{
    background-image: url('http://www.public-domain-image.com/free-images/fauna-animals/fishes/creekchub-fish-illustration.jpg');
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s;
}
.slideshow li:nth-child(4) span{
    background-image: url('http://www.public-domain-image.com/free-images/fauna-animals/fishes/shortnosed-sturgeon-fish-acipenser-brevirostrum.jpg');
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s;
}
@-webkit-keyframes imageAnimation{ 
	0% {
	    opacity: 0;
	    -webkit-animation-timing-function: ease-in-out;
	}
	8% {
	    opacity: 1;
	    -webkit-animation-timing-function: ease-in-out;
	}
	17% {
	    opacity: 1;
	}
	75% {
	    opacity: 1;
	}
	100% { opacity: 0 }
}
@-moz-keyframes imageAnimation{ 
	0% {
	    opacity: 0;
	    -moz-animation-timing-function: ease-in-out;
	}
	8% {
	    opacity: 1;
	    -moz-animation-timing-function: ease-in-out;
	}
	17% {
	    opacity: 1;
	}
	75% {
	    opacity: 1;
	}
	100% { opacity: 0 }
}
@-o-keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    -o-animation-timing-function: ease-in-out;
	}
	8% {
	    opacity: 1;
	    -o-animation-timing-function: ease-in-out;
	}
	17% {
	    opacity: 1;
	}
	75% {
	    opacity: 1;
	}
	100% { opacity: 0 }
}
@-ms-keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    -ms-animation-timing-function: ease-in-out;
	}
	8% {
	    opacity: 1;
	    -ms-animation-timing-function: ease-in-out;
	}
	17% {
	    opacity: 1;
	}
	75% {
	    opacity: 1;
	}
	100% { opacity: 0 }
}
@keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    animation-timing-function: ease-in-out;
	}
	8% {
	    opacity: 1;
	    animation-timing-function: ease-in-out;
	}
	17% {
	    opacity: 1;
	}
	75% {
	    opacity: 1;
	}
	100% { opacity: 0 }
}
.no-cssanimations .slideshow li span{
	opacity: 1;
}
footer{
    background: #FD9D4E;
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
}
.contact{
    display: block;
    margin-top: 5vmin;
    margin-top: 3vw;
    margin-left: 20vmin;
    margin-right: auto;
    font-family: 'Arial Black', Gadget, fantasy;
    line-height: 2em;
    font-size: 2vmin;
    font-size: 1vw;
}
footer a{
    color: black;
    text-decoration: none;
}
.copyright{
    display: block;
    margin-top: 7.5%;
    color: black;
    font-family: 'Arial Black', Gadget, fantasy;
    font-size: 2vmin;
    font-size: 1vw;
}
.liens-utiles{
    display: block;
    margin-top: -5vmin;
    margin-top: -4vw;
    margin-left: 60vmin;
    margin-right: auto;
    font-family: 'Arial Black', Gadget, fantasy;
    line-height: 2em;
    font-size: 2vmin;
    font-size: 1vw;
}
footer[data-portrait="yes"]{
    background: #FD9D4E;
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
}
footer[data-portrait="no"]{
    background: #FD9D4E;
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
}
.contact[data-portrait="yes"]{
    display: block;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: auto;
    font-family: 'Arial Black', Gadget, fantasy;
    line-height: 2em;
    font-size: 5vmin;
    font-size: 3vw;
}
header a{
    color: black;
    text-decoration: none;
}
footer a[data-portrait="yes"]{
    color: black;
    text-decoration: none;
}
.copyright[data-portrait="yes"]{
    display: block;
    margin-top: 7.5%;
    color: black;
    font-family: 'Arial Black', Gadget, fantasy;
    font-size: 4vmin;
    font-size: 2vw;
}
.liens-utiles[data-portrait="yes"]{
    display: block;
    margin-top: -12.2%;
    margin-left: 30%;
    margin-right: auto;
    font-family: 'Arial Black', Gadget, fantasy;
    line-height: 2em;
    font-size: 5vmin;
    font-size: 3vw;
}
.contact[data-portrait="no"]{
    display: block;
    margin-top: 5vmin;
    margin-top: 3vw;
    margin-left: 20vmin;
    margin-right: auto;
    font-family: 'Arial Black', Gadget, fantasy;
    line-height: 2em;
    font-size: 2vmin;
    font-size: 1vw;
}
footer a[data-portrait="no"]{
    color: black;
    text-decoration: none;
}
.copyright[data-portrait="no"]{
    display: block;
    margin-top: 7.5%;
    color: black;
    font-family: 'Arial Black', Gadget, fantasy;
    font-size: 2vmin;
    font-size: 1vw;
}
.liens-utiles[data-portrait="no"]{
    display: block;
    margin-top: -5vmin;
    margin-top: -4vw;
    margin-left: 60vmin;
    margin-right: auto;
    font-family: 'Arial Black', Gadget, fantasy;
    line-height: 2em;
    font-size: 2vmin;
    font-size: 1vw;
}
*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
*::-webkit-scrollbar-track {
	background: #f1f1f1;
	border-radius: 20px;
}
*::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 20px;
}
*::-webkit-scrollbar-thumb:hover {
  background: #555;
}